/*homepage.html css elements*/
*{
    font-family: 'Press Start 2P', system-ui !important;
    text-shadow: 3px 3px 0 #dd00dd;
    letter-spacing: 1px;
    color: white;
    overflow-x: hidden;
}
.hidden{
    opacity: 0;
    transition:0.7s all ease;

    transform: translateY(-20px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
/*-------------------------------NAVBAR-------------------------------*/
#navbar{
    background-color: rgba(131, 69, 211, 0.55);

    font-weight: bold;
}

#navbar a{
    color:white;
}
#navbar a:hover{
    color:#dd00dd;
    text-shadow: -1px -1px 0 #dd00dd;
}
/*-------------------------------------------------------------------*/
/*-------------------------------LANDING PAGE------------------------*/
#welcome-section{
    width: 100vw;
    height: 100vh;
    background-image: url("../app/homepage/img/q208tysvetrb1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;

}

#welcome-section h1{
    font-size: 4vw;
}
#welcome-section a{
    text-decoration: none;
    background-color: #0b001e;
    color: white;
    opacity: .7;
    min-width: 12vw;
    height:10vh;
    border-radius: 15px;

    border: solid 3px white;
    margin-top:-50vh;

    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    text-align: center;
}
#welcome-section a:hover{
    color: #dd00dd;
    border-color: #dd00dd;
    text-shadow: -1px -1px 0 #dd00dd;
}
/*--------------------------------------------------------------------*/
/*-------------------------------GAMES SECTION------------------------*/
#games{
    width: 100vw;
    min-height: 110%;

    background-color: black ;

}
#games h2{
    display:flex;
    font-size: 4vw;
    align-items:center ;
    justify-content: center;
    padding: 10vh;
}
.game{
    display:flex;
    align-items:center ;
    justify-content: center;
    margin:3vw;
    background-color: #0b001e;
    height: 50vh;
    box-shadow: 3px 3px 0 #dd00dd;
    border-radius: 10px;
}
#game1:hover {
    transform: scale(1.05); /* Slightly enlarges the element */
    z-index: 1; /* Brings it above neighboring elements */
    transition:0.5s all ease;
    background-image: url("../app/homepage/img/mindesweeper.jpg");
    opacity: .7;
}
#game2:hover {
    transform: scale(1.05); /* Slightly enlarges the element */
    z-index: 1; /* Brings it above neighboring elements */
    transition:0.5s all ease;
    background-image: url("../app/homepage/img/flappy_bird_logo.png");
    opacity: .7;
}
#game3:hover {
    transform: scale(1.05); /* Slightly enlarges the element */
    z-index: 1; /* Brings it above neighboring elements */
    transition:0.5s all ease;
    background-image: url("../app/homepage/img/flappy_bird_logo.png");
    opacity: .7;
}
/*------------------------------------------------------------------*/
/*-------------------------------LEADERBOARD------------------------*/
#leaderboard-bg{
    display:flex;
    align-items:center ;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image:url(../app/homepage/img/neon-retro-arcade-machine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#leaderboard{
    font-size:3vw;
    padding:1vw;
    width:50%;
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #0b001e;
    box-shadow: 3px 3px 0 #dd00dd;
    border-radius: 10px;
}
#leaderboardHeading{
    padding-top: 0;
    margin-top: 2vh;

}
#leaderboardGameDivs{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-top: 1vh;
    gap: 1vw;
}
.leaderboardGame{
    height: 100%;
    width: 15vw ;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #260050;
}

.leaderboardGame div{
    font-size: 1.4vh;
}

.leaderboardGame h2{
    font-size: 2vh;
    margin-bottom: 0;
    padding-bottom: 20px;
}
#difficultySelect{
    background-color: #0b001e;
    color: white;
    border: 2px solid #dd00dd;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.4vh;
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 1px 1px 0 #dd00dd;
    margin-bottom: 10px;
    box-shadow: 2px 2px 0 #dd00dd;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#leaderboard:hover{
    transform: scale(1.05); /* Slightly enlarges the element */
    z-index: 1; /* Brings it above neighboring elements */
    transition:0.5s all ease;
}
@media (max-width: 768px) {
    #leaderboard{

        width: 90%;
    }
    #leaderboardGameDivs{
        width: 100%;
    }
    .leaderboardGame{
        width: 90%;

    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    #leaderboard{

        width: 70%;

    }

}
/*------------------------------------------------------------------*/
/*-------------------------------FAQ--------------------------------*/
.faq-container{
    min-height:100vh;
    width:100%;
    background-color: #0b001e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -6vh;
}
h1{
    margin-top: 10%;
}
.faq-item{
    width:50%;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 0 #dd00dd;
}
.faq-item:hover{
    transform: scale(1.05);
    z-index: 1;
    transition:0.5s all ease;
    cursor: pointer;
}
.faq-question{
    padding-bottom:10px;
    font-size:1.2rem;
}
/*-------------------------------FORM PAGE--------------------------------*/
.form{
    background-color: #0b001e;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.form h2{
    font-size: 4vw;
}
#logo{
    width:25vh;
}
input{
    background-color: #0b001e;
    text-shadow:none;
    border-radius: 5px;
    margin: 2vh ;
    padding: 20px;
    min-width:fit-content;
    box-shadow: 2px 2px 2px #dd00dd;

}
input:hover{
    transform:scale(1.05);
    transition:0.5s all ease;
}
input:focus{
    transform:scale(1.05);
    border: 3px solid #dd00dd;
}

#login, #register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 25vw;
    padding: 5vh;
    margin: 2vh ;

}
.switch-button, .submit-button{
    margin-top:3vh;
    background-color: #0b001e;
    color: white;
    border: none;
    padding: 1vh;
    font-size: 2vh;


}
.switch-button:hover, .submit-button:hover{
    color: #dd00dd;
    text-shadow: -1px -1px 0 #dd00dd;
    transform:scale(1.05);
    transition:0.5s all ease;
}
/*------------------------------------------------------------------*/
/*-------------------------------IMPRESSUM-----------------------------------*/
.impressum-page{
    margin-top:-6vh;
    background-color: #0b001e;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.impressum{
    width:40%;
    overflow: visible;
}
.impressum-element{
    min-width:fit-content;
    margin-bottom:5vh;
    border: 1px solid white;
    box-shadow: 3px 3px 0 #dd00dd;
    border-radius: 15px;
    padding: 20px;
}
.impressum-element:hover{
    transform: scale(1.05);
    z-index: 1;
    transition:0.5s all ease;
    cursor: pointer;
}
.impressum h1{
    display: flex;
    margin:10%;
    justify-content: center;

}
/*MS ganz*/



/*------------------------------------------------------------------*/
/*-------------------------------Profile-----------------------------------*/

#OuterContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b001e;

}
#InnerContainer{
    margin: 10vh ;
    padding: 100px;
    border:none;
    border-radius: 15px;
    box-shadow:none;
    overflow: visible;

}
#InnerContainer input{

        background-color: #0b001e;
        text-shadow:none;
        border-radius: 5px;
        /*margin: 2vh ;*/
        padding: 20px;
        min-width:fit-content;
        box-shadow: 2px 2px 2px #dd00dd;


}

.games{
    background-color: #0b001e;
    border: 1px solid white;
    box-shadow:3px 3px 0 #dd00dd ;
    border-radius: 15px;
}

#ScoreContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
    min-height: 20vh;
    box-shadow:3px 3px 0 #dd00dd ;
}

#EditDiv{
    text-align: right;
}
#EditBtn{
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #0b001e;
}
#UserPasswordBtn{
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 4%;
    box-shadow:3px 3px 0 #dd00dd ;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: #0b001e;
}
#UserPasswordBtn:hover{
    color: #dd00dd;
    text-shadow: none;
    border: 2px solid #dd00dd;
    transition:0.5s all ease;
    cursor: pointer;

}
#UserChangePasswordBtn{

    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow:3px 3px 0 #dd00dd ;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #0b001e;
}
#UserChangePasswordBtn:hover{
    color: #dd00dd;

    border: 2px solid #dd00dd;
    transition:0.5s all ease;
    cursor: pointer;

}
#UserFirstName, #UserLastName, #UserEmail, #UserOldPsswd, #UserNewPsswd{
    color: white;
    text-shadow: 1px 1px 0 #dd00dd;
    padding-left: 3%;
    font-size: small;
    margin: 1%;
}

#LogoImg{
    max-width: 20%;
    border-radius: 5px;
}
#WelcomeDiv{
    display: flex; 
    align-items: center; 
    gap: 10px;

}
#WelcomeDivRow{
    padding-top: 1%;
    justify-content: space-between;
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;     
}
.scoreObj{
    margin-top: 7px;
}
.centered-container{
    display: flex;
    flex-direction: column;     /* Stack items vertically */
    align-items: center;        /* Center horizontally */
    justify-content: center;    /* Center vertically (if you want full centering) */
}
#ChangePsswdDiv {
  overflow: visible;
  margin-top:10%;
  max-height: 0;
  opacity: 0;
  transition: max-height 1.0s ease, opacity 0.5s ease;
}

/* When showing */
#ChangePsswdDiv.show {
  max-height: 500px; /* large enough to fit content */
  opacity: 1;
}

/* When hiding */
#ChangePsswdDiv.hidden {
  max-height: 0;
  opacity: 0;
}
#DataDiv{
    margin-top: 1.25vh;
    overflow: visible;
}
/*------------------------------------------------------------------*/
/*-------------------------------User Management-----------------------------------*/

.userContainer{
    margin: 10vh ;
    border-left: 1px solid #dd00dd;
    max-width: 80vw;
}

.userRow{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #dd00dd;
    border-radius: 5px;
    padding: 10px;
    background-color: #0b001e;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInput{
    border: 1px solid #dd00dd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 200px!important;
}

.userInput.small{
    width: 150px;
}
.userInput.big{
    width: 400px;

}

.userButton{
    padding-inline: 2%;
    padding-block: 10px;
    border-radius: 5px;
    border: 1px solid #dd00dd;
    background-color: #0b001e;
}

.roleSelect{
    background-color: #0b001e;
    color: white;
    border: 2px solid #dd00dd;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.6vw;
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 1px 1px 0 #dd00dd;
    box-shadow: 2px 2px 0 #dd00dd;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}